# PostgreSQL
POSTGRES_DB=devopsdb
POSTGRES_USER=devops
POSTGRES_PASSWORD=change_me

# Backend database configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=devops
DB_PASSWORD=change_me
DB_NAME=devopsdb

# Application
APP_NAME=DevOps Assessment Dashboard
ENVIRONMENT=development

# S3 configuration
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
S3_ENDPOINT_URL=http://localstack:4566
S3_PUBLIC_ENDPOINT_URL=http://localhost:4566
S3_BUCKET_NAME=devops-files

# Frontend
VITE_API_BASE_URL=http://api.debyez.localhost/api

# CORS
CORS_ORIGINS=http://app.debyez.localhost

# Production container images
BACKEND_IMAGE=rinasck/devops-assessment-backend:COMMIT_SHA
FRONTEND_IMAGE=rinasck/devops-assessment-frontend:COMMIT_SHA
